.container {
        width: 100%;
        display: flex;
}


.md-1 {
    width: 30%
}


.md-2 {
    width: 70%
}


.my-map {
    height: 600px;
}


.search {
    width: 97%;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    position: relative;
}


.search-icon {
    width: 30px;
    height: 30px;
    margin-right:  2px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: gray;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}


.search-input {
    width: 100%;
    height: 30px;
    border: none;
}


.marked-places {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 0;
    padding-bottom: 20px;
    margin-left: 40px;
    top: 45px;
    width: 23%;
}


.visited {
    color: black;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
    width: 100%;
    cursor: pointer;
}


.visited:hover{
    background-color: #f1f1f1
}


.up-btn {
    position: absolute;
    bottom: 0;
    left: 40%;
    cursor: pointer;

}


table {
    width: 100%;
}


@media all and (max-width: 750px){
    .container {
        flex-direction: column;
    }
    .md-1,.md-2 {
        width: 80%;
        margin: auto;
    }
    .search {
        width: 100%;
    }
    #map {
        height: 600px;
    }
    .marked-places {
    width:70%;
    }
}


@media all and (min-width: 970px){
    .container {
        width: 970px;
        margin: auto;

    }
    .marked-places {
        width: 238px;
    }
}


@media all and (max-width: 550px){
    .marked-places {
        width: 65%;
    }
}


.all_view {

    background-color: gray;
    opacity: .8;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 90;
    top: 0;
}


.place-photo {
    width: 50%;
    left: 25%;
    top: 10%;
    z-index: 1000;
    position: absolute;
}


.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    z-index: 1000;

}


.right {
    position: absolute;
    top: 40%;
    right: 0;
    width: 10%;
    z-index: 1000;

}


.left {
    position: absolute;
    top: 40%;
    left: 0;
    width: 10%;
    z-index: 1000;

}


.gallery {
    width: 30px;
    cursor: pointer;
}


.infophoto{

    max-width: 150px;
    max-height: 150px;
}
.infotext {
    display: flex;

}
.infowindow {
    max-height: 250px;
    
}